/*
!screenshot.png
!style.css
!.gitignore
!/dist
!/dist/**
!/source/php
!/source/php/**
!/assets
!/assets/**
!/languages
!/languages/**
!/composer.json
!/functions.php
!/Public.php
!/modularity-entryscape.php
