/** Settings **/

//@use "~@helsingborg-stad/styleguide/source/sass/styleguide";

@import "~@helsingborg-stad/styleguide/source/sass/setting/variables";

// ***************************************************************
// *** Functions
// ***************************************************************
@import "~@helsingborg-stad/styleguide/source/sass/function/strip-unit";
@import "~@helsingborg-stad/styleguide/source/sass/function/em";
@import "~@helsingborg-stad/styleguide/source/sass/function/rem";
@import "~@helsingborg-stad/styleguide/source/sass/function/px";
@import "~@helsingborg-stad/styleguide/source/sass/function/breakpoint-suffix";
@import "~@helsingborg-stad/styleguide/source/sass/function/next-breakpoint";
@import "~@helsingborg-stad/styleguide/source/sass/function/get-color";
@import "~@helsingborg-stad/styleguide/source/sass/function/remove-list-item";
@import "~@helsingborg-stad/styleguide/source/sass/function/validate-breakpoint-list";
@import "~@helsingborg-stad/styleguide/source/sass/function/mix-color-style-functions";
@import "~@helsingborg-stad/styleguide/source/sass/function/legacy-direction";
@import "~@helsingborg-stad/styleguide/source/sass/function/is-direction";
@import "~@helsingborg-stad/styleguide/source/sass/function/append-important";
@import "~@helsingborg-stad/styleguide/source/sass/function/heading";
@import "~@helsingborg-stad/styleguide/source/sass/function/string-replace";

// ***************************************************************
// *** Mixins
// ***************************************************************
@import "~@helsingborg-stad/styleguide/source/sass/mixin/mq";
@import "~@helsingborg-stad/styleguide/source/sass/mixin/responsive-styles";
@import "~@helsingborg-stad/styleguide/source/sass/mixin/psuedo";
@import "~@helsingborg-stad/styleguide/source/sass/mixin/ratio";
@import "~@helsingborg-stad/styleguide/source/sass/mixin/cover";
@import "~@helsingborg-stad/styleguide/source/sass/mixin/center";
@import "~@helsingborg-stad/styleguide/source/sass/mixin/size";
@import "~@helsingborg-stad/styleguide/source/sass/mixin/shadow";
@import "~@helsingborg-stad/styleguide/source/sass/mixin/button";
@import "~@helsingborg-stad/styleguide/source/sass/mixin/list";
@import "~@helsingborg-stad/styleguide/source/sass/mixin/paper";
@import "~@helsingborg-stad/styleguide/source/sass/mixin/gradient";
@import "~@helsingborg-stad/styleguide/source/sass/mixin/arrow";
@import "~@helsingborg-stad/styleguide/source/sass/mixin/build-utility";
@import "~@helsingborg-stad/styleguide/source/sass/mixin/animations/slide";
@import "~@helsingborg-stad/styleguide/source/sass/mixin/animations/scale-up";
@import "~@helsingborg-stad/styleguide/source/sass/mixin/animations/fade-in";

// ***************************************************************
// *** Utilities
// ***************************************************************
@import "~@helsingborg-stad/styleguide/source/sass/utility/display";

// ***************************************************************
// *** Elements
// ***************************************************************
@import "~@helsingborg-stad/styleguide/source/sass/element/headings";

// ***************************************************************
// *** Components
// ***************************************************************
@import "~@helsingborg-stad/styleguide/source/sass/component/card";
@import "~@helsingborg-stad/styleguide/source/sass/component/paper";
@import "~@helsingborg-stad/styleguide/source/sass/component/typography";
@import "~@helsingborg-stad/styleguide/source/sass/component/button"; 
@import "~@helsingborg-stad/styleguide/source/sass/component/tag"; 
@import "~@helsingborg-stad/styleguide/source/sass/component/fields"; 
@import "~@helsingborg-stad/styleguide/source/sass/component/collection"; 

// ***************************************************************
// *** Objects
// ***************************************************************
@import "~@helsingborg-stad/styleguide/source/sass/object/lead"; 

.modularity-mod-entryscape .entryscape {
  font-family: unset;
  -webkit-text-size-adjust: unset; 
  -ms-text-size-adjust: unset; 

  $base: var(--base, 8px); 

  @import 'element/single';
  @import 'element/headings';
  @import 'element/pagination';
  @import 'element/facets';
  @import 'element/entrylist';
  @import 'element/field';
  @import 'element/field-dropdown';
}