/* Fix height issue with list */ 
.entryList {
  height: auto; 
}

/* List item fixes */ 
.esbRow.esbPadding {
  box-shadow: unset;
  margin-bottom: calc(#{$base} * 4);
  animation: expand 400ms ease-in-out;

  .esbRowHead.esbDefaultExpandButton {
    box-shadow: unset;
    border: unset; 
    display: block;
    min-height: unset;
    max-height: unset;
    overflow: unset;

    &:hover {
      color: $color-body;
    }

    &:focus {
      border: unset;
    }

    .esbRowMain {
      padding: unset; 
      width: unset;
    }

    .esbRowControl {
      display: none; 
    }
  }

}

/* Fix for hover state in cards */ 
.c-card--entrylist {
  &:hover {
      filter: $drop-shadow-3;
      background-color: $color-lightest;
      transform: translateY(calc( 0px - #{$base} * 0.25 ));
      transition: all 200ms ease-out;

      .c-card__heading {
          text-decoration: underline;
      }
  }

  &:focus {
      background-color: $color-code-background-focus;
  }
}

/* Text overflow fix */ 
.c-card--entrylist .c-card__body p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}