.esbFacets__collection {
  @extend .c-paper; 
  margin-bottom: calc(#{$base} * 4.5);
  padding: calc(#{$base} * 2);

  ul {
    display: flex; 
    gap: calc(#{$base} * 1.5);
    flex-wrap: wrap;
  }
}

.esbFacets__facetHeader {
  @extend .c-typography__variant--h4;
  display: block;
  border-bottom: unset; 
  margin: 0 0 #{$base} 0;
}

.esbFacets__option {
  animation: expand 400ms ease-in-out;

  @extend .c-tag !optional;
  @extend .c-tag--default !optional;
  white-space: nowrap;
  text-overflow: ellipsis;

  word-spacing: unset;
  width: unset;
  height: unset;
  display: unset;
  color: unset;
  line-height: unset;
  position: unset;
  margin: unset !important;

  &:hover {
    background-color: $color-primary;
    color: $color-primary-contrasting;
  }
}

.esbFacets__optionLink {
  &:hover {
    color: unset;
    text-decoration: unset;
  }
}

.esbFacets--selected {
  .esbFacets__clear {
    @extend .c-button; 
    @extend .c-button__icon-size--sm  !optional;
    @extend .c-button--sm;
    @extend .c-button--icon-only;
    margin: calc((#{$base} * .5) * -1) calc(#{$base} * -1) calc((#{$base} * .5) * -1) #{$base};
    color: $color-base; 

    i {
      margin-top: 1px; 
      font-size: 1.5em;
    }
  }
}

.esbFacets__limit {
  margin: calc(#{$base} * 2) 0 0 0; 
}

.esbFacets__limitButton {
  @extend .c-button; 
  @extend .c-button__filled; 
  @extend .c-button__filled--default; 
  @extend .c-button--sm;

  display: block;
  width: 100%;
  box-shadow: unset;

  &:hover,
  &:active,
  &:focus {
    @extend .c-button; 
    @extend .c-button__filled; 
    @extend .c-button__filled--default; 
    @extend .c-button--sm;
    display: block;
    width: 100%;
    box-shadow: unset;
  }
}

@keyframes expand {
  from {
    opacity: 0;
  }
}

.entryscape .btn-secondary:not(:disabled):not(.disabled):active, 
.entryscape .btn-secondary:not(:disabled):not(.disabled).active, 
.entryscape .show > .btn-secondary.dropdown-toggle {
  color: unset;
  background-color: unset;
  border-color: unset;
}