/* Field */ 
.selectize-control.multi {
  .selectize-input.items,
  .selectize-input.has-items {
    display: flex;
    flex-wrap: wrap; 
    gap: #{$base};

    appearance: none;

    width: 100%;
    margin: 0;
    outline: 0;

    min-height: map-get($spacers, "6");
    padding: 11px map-get($spacers, "2");

    font-size: calc(#{$base}*2);
    line-height: calc(#{$base}*2); 

    border: 1px solid $color-form-fields;
    border-bottom: 2px solid trasparent;
    background: $color-white;
    background-size: calc(#{$base}*2);

    border-radius: $c-field-border-radius; 

    transition: color .1s ease, border-color .1s ease;
  }

  .selectize-input.dropdown-active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .selectize-input:focus,
  .selectize-input.focus {
    background-color: $color-white;
    border-bottom: 2px solid $color-in-action;
    box-shadow: unset;
  } 

  input[role="search"] {
    height: calc(#{$base}*3);  
    line-height: calc(#{$base}*3);
  }
}

/* Contained tags */ 
.item.esbItemFacet,
.item.esbItemTerm {
  animation: expand 400ms ease-in-out;

  @extend .c-tag !optional;
  @extend .c-tag--default !optional;
  
  white-space: nowrap;
  text-overflow: ellipsis;

  word-spacing: unset;
  width: unset;
  height: unset;
  display: unset;
  color: unset;
  line-height: unset;
  position: unset;
  margin: unset !important;

  &:hover {
    background-color: $color-primary;
    color: $color-primary-contrasting;
  }
}