.selectize-control.multi {

  .selectize-input.items {
    appearance: none;

    width: 100%;
    margin: 0;
    outline: 0;

    height: map-get($spacers, "6");
    padding: map-get($spacers, "2");

    font-size: calc(#{$base}*2);
    line-height: calc(#{$base}*2); 

    border: 1px solid $color-form-fields;
    background: $color-white;
    background-size: calc(#{$base}*2);

    border-radius: $c-field-border-radius; 

    transition: color .1s ease, border-color .1s ease;
  }

  .selectize-input:focus,
  .selectize-input.focus {
    background-color: $color-white;
    border-bottom: 2px solid $color-in-action;
    box-shadow: unset;
  } 
}

.selectize-input.items {
  padding: 0;
  min-height: calc(#{$base} * 4);

  @extend .c-field;
  @extend .c-field--md;
  @extend .c-field--radius-md;
}

.selectize-control.multi .selectize-input.has-items {

  padding-left: 9px;
    padding-right: 9px;
  padding: 5px 12px 2px;
}

.selectize-control.multi .selectize-input > button.item {
  padding: unset !important;
}

//taggar
.item.esbItemFacet {
  animation: expand 400ms ease-in-out;

  @extend .c-tag;
  @extend .c-tag--default;

  white-space: nowrap;
  text-overflow: ellipsis;

  word-spacing: unset;
  width: unset;
  height: unset;
  display: unset;
  color: unset;
  line-height: unset;
  position: unset;
  margin: unset !important;

  &:hover {
    background-color: $color-primary;
    color: $color-primary-contrasting;
  }
}

//Sökruta
//<input type="text" autocomplete="off" tabindex="" role="search" aria-label="Sök datamängder" style="width: 102.281px; opacity: 1; position: relative; left: 0px; padding: 0px; height: auto;">