.entryPagination {
  padding: 0;
}

.entryPagination .pagination {
  display: flex;
  margin: calc(#{$base} * 2);
  gap: #{$base};
}

.entryPagination .page-item {
  border: none; 
  margin: 0;
  padding: 0;

  &:last-child,
  &:first-child {
    @extend .u-display--none;
  }
}

.entryPagination .page-link {
  @extend .c-button; 
  @extend .c-button__filled; 
  @extend .c-button__icon-size--md  !optional;
  @extend .c-button--sm;
  @extend .c-button--icon-only;
  @extend .c-button__filled--default; 
}

.entryPagination .page-link:not(:disabled) {
  @extend .c-button__filled--primary; 
}

.entryPagination .page-text {
  padding: 0 calc(#{$base} * 2); 
  margin: 0; 
}