.entryscapeLead {
  @extend .lead; 
}

/* rdForms */ 
.rdforms {
  .rdformsRow {
    padding: calc(#{$base} * 1) 0;
    margin-bottom: 0;

    &.rdformsTopLevel {
      width: 100%;
    }

    .rdformsLabel {
      font-weight: bold;
      margin: 0;
    }

    .rdformsFields {
      padding-left: calc(#{$base} * 2);
      .rdformsField {
        margin: 0; 
        padding: calc(#{$base} * .25) calc(#{$base} * 1); 
      }
    }
  }
}