.s-distributionlist {

  .esbRowAlign {
    gap: calc(#{$base} * 2);
  }

  .rdformsGroup {
    margin: unset !important; 
    padding: unset !important;

    .rdformsFields,
    .rdformsRow {
      margin: 0 !important;
      padding: 0 !important;
    }
  }

  .esbRowAlignOther:empty {
    display: none;
  }

  .esbRowAlignOther {
    min-width: unset !important;

    .esbBadge {
      padding: unset;
      text-indent: -9999px;
      overflow: hidden;
      height: calc(#{$base} * 2);
      width: calc(#{$base} * 2);
      border-radius: 50%;
      display: block;
      cursor: help;
    }
  }

  .esbPadding {
    padding: calc(#{$base} * 2);
  }

  .esbRowExpand {
    padding: unset;
    background-color: unset;
  }

  .esbRowHead  {
    min-height: unset;
    max-height: unset;
    overflow: unset; 
    gap: calc(#{$base} * 2);

    .esbRowAlign,
    .esbRowControl {
      margin: unset;
      padding: unset;
    }

    .esbRowControl {
      width: unset;
    }

    .esbRowControl>button {
      margin: unset;
    }

    .esbRowMain {
      padding: unset;
    }
  }

  .entryListRow {
    box-shadow: unset; 
    margin-bottom: calc(#{$base} * 2);
    @extend .c-paper;
  }

  .btn.btn-sm.btn-primary {
    @extend .c-button; 
    @extend .c-button__filled; 
    @extend .c-button__icon-size--md !optional;
    @extend .c-button--sm;
    @extend .c-button__filled--secondary; 
    margin-left: unset !important; 
    letter-spacing: unset !important;
    font-size: 14px; 
  }

  .btn.btn-sm.btn-link {
    @extend .c-button; 
    @extend .c-button__filled; 
    @extend .c-button__icon-size--md !optional;
    @extend .c-button--sm;
    @extend .c-button--icon-only;
    @extend .c-button__filled--default; 
  }

}